@import url('https://fonts.googleapis.com/css?family=Mina&display=swap');
@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');



header{
    height: 120px;
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    font-size: 50px;
    line-height: 40px;
    color: silver;
    text-align: left;
    padding: 10px;
}

body{
    background-image: url("../images/spacebackground2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

footer{
    bottom: 0px;
    position: fixed;
    height: 30px;
    width: 100%;
    background-color: silver;
    text-align: center;
    font-size: 10px;
    color: black;
}

#subHeading {
    font-size: 30px;
}

#gamesWon {
    font-size: 30px;
}

#gamesLost {
    font-size: 30px;
}

.score{
    font-size: 75px;
}

#shuttle{
    position: absolute;
    z-index: 1;
}

#moon{
    position: absolute;
    right: 40px;
}

#earth{
    position: absolute;
    left: 40px;
}

#scoreBoard {
    position: relative;
    top:100px;
    height: 60px;
    box-sizing: border-box;
    text-align: center;
    font-size: 25px;
    font-family: 'Mina', sans-serif;
    font-weight: bold;
    color: yellow;
    line-height: 25px;
}

#latest {
    font-family: 'Mina', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: yellow;
    line-height: 25px;
}

#targetNumber {
    font-family: 'Mina', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: yellow;
    line-height: 25px;
}

#scoreBoardMsg{
    font-size: 50px;
    color: orange;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
}

.crystalsDiv {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    box-sizing: border-box;
    margin: 50px 50px 100px 50px;
    font-size: 35px;
    color: yellow;
}

#restartButton {
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    display: none;
}

@media screen and (max-width: 979px){
header {
    font-size: 40px
}
}


@media screen and (max-width: 767px){
    header {
        font-size: 30px
    }
    }     
    
@media screen and (max-width: 639px){
    header {
        font-size: 30px
    }
}


